<!DOCTYPE html>
<html lang:"fr">
<head>
<meta charset="utf-8" />
<title<Smashing SF2</title>
<link rel=="stylesheet" href="{{asset('bundles/iuttest/css/main.css')}}">
</head>

<body id="index " class="home">
<h1>Bloc:</h1>
{% block content %}



{%endblock %}

</body>
</html>
